body {
    margin: 0;
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 50px;

}

h2 {
    font-size: 40px;

}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 100px;
}




.half-width {
    width: 100%;
    padding-left: 5%;

}

.half-width img {
    width: 90%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.middle-part {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom -7%;
}

.experiences-text {
    margin-left: 5%;
}

.experiences-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left bottom 25%;


}

.experiences-items {


    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
    margin: 50px;


}

#web-dev-experience {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;

}

#baby-dev-experience {
    border-left: 7px solid;
    border-image: linear-gradient(orange, yellow);
    border-image-slice: 1;

}

footer {
    text-align: center;
}